[submodule "submodules/helm-charts"]
	path = submodules/helm-charts
	url = https://github.com/grafana/helm-charts.git#grafana-agent-operator-0.2.18
[submodule "submodules/Kubernetes-Docs"]
	path = submodules/Kubernetes-Docs
	url = https://github.com/ONLYOFFICE/Kubernetes-Docs.git#v7.0.1
