[submodule "submodules/helm-charts"]
	path = submodules/helm-charts
	url = https://github.com/grafana/helm-charts.git
	branch = grafana-agent-operator-0.2.18
[submodule "submodules/Kubernetes-Docs"]
	path = submodules/Kubernetes-Docs
	url = https://github.com/ONLYOFFICE/Kubernetes-Docs.git
	branch = v4.1.0
[submodule "submodules/keycloak-k8s-resources"]
	path = submodules/keycloak-k8s-resources
	url = https://github.com/keycloak/keycloak-k8s-resources.git
	branch = 25.0.1
